@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700");

/* Type */

	body {
		background-color: #f2f2f2;
	}

	body, input, select, textarea {
		font-family: Raleway, Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 300;
		letter-spacing: 0.1em;
		line-height: 1.65em;
	}
	strong{
		font-weight: 700;
	}
	
	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.5em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.2em;
	}

/* Button */

		
/* Form */



		

	label {
		display: block;
		font-size: 0.9em;
		margin: 0 0 0.2em 0;
		text-transform: uppercase;
	}



/* Section */

	section.special{
		text-align: center;
	
	}

	header {
		margin-bottom: 1em;
	}

		header h2, header h3 {
			display: inline-block;
			padding-bottom: 0.4em;
			border-bottom-style: double;
			border-bottom-width: 4px;
		}

		header h2 + p {
			font-size: 1.25em;
			margin-top: -0.5em;
			line-height: 1.5em;
		}

		header h3 + p {
			font-size: 1.1em;
			line-height: 1.5em;
		}

		header.major {
			margin-bottom: 4em;
		}


	header h2, header h3 {
		border-bottom-color: #e3e3e3;
	}

/* Feature */

	.features {
		
		display: flex;
		justify-content: center;
		margin-bottom: 2em;
	}

	.feature {
		
		padding: 2em 2em 0em 2em;
		border-style: solid;
		border-width: 1px;
	}

	.feature {
		
		border-color: #e3e3e3;
	}



/* Banner */

	#banner {
		background-color: #A52A2A;
		color: #ffffff;
		padding: 4em 0 2em 0;
		text-align: center;
	}
			#banner .button.special {
				background-color: #fff;
				color: #A52A2A ;
			}


			#banner .button.special:hover {
				background-color: #FFE4E1;
			}
			
		#banner h2 {
			border-style: double solid;
			border-width: 4px 4px 4px 4px;
			font-size: 2.5em;
			line-height: 1.5em;
			margin: 0 auto 1em;
			padding: 1.0em;
			position: relative;
			width: 50%;
		}

		#banner p {
			font-size: 1.5em;
			text-transform: uppercase;
		}


/* Footer */

	#footer {
		background-color: #FFE4E1;
		color: #444;
		padding: 4em 0 3em 0;
		position: relative;
	}


		#footer:before {
			background-color: #ddd;
			content: '';
			height: 1px;
			left: 30%;
			position: absolute;
			top: 0;
			width: 40%;
		}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
			text-transform: uppercase;
		}